<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.demo.mapper.GoodsMapper">

    <resultMap id="goodsMap" type="Goods" extends="Commons.goodsMap">
        <association property="category" javaType="Category"
                     select="com.lanou.demo.mapper.CategoryMapper.findById"
                     column="category_id"/>
    </resultMap>

    <select id="findAll" resultMap="goodsMap">
        select *
        from tb_goods
    </select>


</mapper>