<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="person" class="com.lanou.java.test2.Person">
        <property name="name" value="张三"></property>
    </bean>
    <bean id="classRoom" class="com.lanou.java.test2.ClassRoom">
        <property name="name" value="三班"></property>
        <property name="num" value="3"></property>
        <property name="persons">
            <list>
                <ref bean="person"></ref>
            </list>
        </property>
        <property name="personMap">
            <map>
                <entry key="旺旺" value-ref="person"></entry>
            </map>
        </property>
    </bean>
</beans>